<?xml version="1.0"?>
<model>
  <name>{{ map.name }}</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>{{ author['name'] }}</name>
   <email>{{ author['email'] }}</email>
  </author>

  <description>
    {{ map.description }}
  </description>
</model>
