<?xml version="1.0"?>
<model>
  <name>Simple Walls</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>MapDesc Generator</name>
   <email>noone@example.com</email>
  </author>

  <description>
    A simple room with 4 walls and an entrance for a door
  </description>
</model>